<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://ompp.org/cdo"
            class="omp.ompp.cdo.cdo.OMPPCdoPackage"
            genModel="model/omppCDOServer.genmodel"/>
   </extension>

</plugin>
